<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Fridge Inventory</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link href="//unpkg.com/bootstrap@4.x/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue.min.css" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" rel="stylesheet">
    <!-- Overrides and custom styles -->
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div id="app">

    <b-navbar toggleable type="dark" variant="dark">
        <b-navbar-brand href="#">Fridge Inventory</b-navbar-brand>

        <b-navbar-toggle target="navbar-toggle-collapse">
            <template #default="{ expanded }">
                <b-icon icon="chevron-bar-up" v-if="expanded"></b-icon>
                <b-icon icon="chevron-bar-down" v-else></b-icon>
            </template>
        </b-navbar-toggle>

        <b-collapse id="navbar-toggle-collapse" is-nav>
            <!--            <b-navbar-nav class="ml-auto">-->
            <!--                <b-nav-item href="#">Link 1</b-nav-item>-->
            <!--                <b-nav-item href="#">Link 2</b-nav-item>-->
            <!--                <b-nav-item href="#" disabled>Disabled</b-nav-item>-->
            <!--            </b-navbar-nav>-->
        </b-collapse>
    </b-navbar>
    <b-container class="p-5 m-5" fluid>
        <b-row>
            <h1>Fridge Inventory</h1>
        </b-row>

        <b-row>
            <b-col cols="6" md="6" v-if="!isEditing">
                <!--                <input type="text" v-model="todo">-->
                <b-form-input placeholder="What is the item called?" v-model="todo.name"></b-form-input>
                <br>
                <b-form-textarea
                        id="textarea"
                        max-rows=""
                        placeholder="Describe the item going into the fridge inventory"
                        rows="3"
                        v-model="todo.desc"
                ></b-form-textarea>
                <br>
                <input @click="storeTodo" class="btn btn-primary" type="submit" value="Add Item to the Fridge">
            </b-col>
            <b-col cols="6" md="6" v-else>
                <b-form-input placeholder="What is the item called?" v-model="todo.desc"></b-form-input>
                <br>
                <b-form-textarea
                        id="textarea"
                        max-rows=""
                        placeholder="Describe the item going into the fridge inventory"
                        rows="3"
                        v-model="text"
                ></b-form-textarea>
                <br>
                <input @click="updateTodo" class="btn btn-info" type="submit" value="Update this fridge item">


            </b-col>
        </b-row>

        <br>
        <hr>
        <br>

        <b-row>
            <b-col cols="3" md="3">
                <h5>Items</h5>

                <ol>
                    <li v-for="(todo, index) in todos">
                        {{ todo.name }}
                        <!--                    <button @click="editTodo(index, todo)">Edit</button>-->
                        <!--                    <button @click="removeTodo(index)">Complete</button>-->
                    </li>
                </ol>
            </b-col>

            <b-col cols="3" md="3">
                <h5>Favorites</h5>
                <ol>
                    <li v-for="(todo, index) in favorites">
                        {{ todo.name }}
                    </li>
                </ol>
            </b-col>
            <b-col cols="3" md="3">
                <h5>Eaten</h5>

                <ol>
                    <li v-for="(todo, index) in eaten">
                        {{ todo.name }}
                    </li>
                </ol>
            </b-col>

            <b-col cols="3" md="3">
                <h5>Expiring</h5>
                <ol>
                    <li v-for="(todo, index) in exp">
                        {{ todo.name }}
                    </li>
                </ol>
            </b-col>

        </b-row>

        <fcard :todos="todos" @fav="addFavorite" @eat="addEaten" @exp="addExpired" @edit="editTodo2"></fcard>

    </b-container>

</div>


<!-- Load Vue followed by BootstrapVue -->
<script src="http://unpkg.com/vue@2.x/dist/vue.js"></script>
<script src="http://unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="http://unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue-icons.min.js"></script>

<script src="js/app.js"></script>
<script src="js/card.js"></script>

</body>
</html>
