<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Fridge Inventory</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link href="//unpkg.com/bootstrap@4.x/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue.min.css" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
          integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" rel="stylesheet">
    <!-- Overrides and custom styles -->
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
<div id="app">

    <b-navbar toggleable type="dark" variant="dark">
        <b-navbar-brand href="#">Fridge Inventory</b-navbar-brand>

        <b-navbar-toggle target="navbar-toggle-collapse">
            <template #default="{ expanded }">
                <b-icon icon="chevron-bar-up" v-if="expanded"></b-icon>
                <b-icon icon="chevron-bar-down" v-else></b-icon>
            </template>
        </b-navbar-toggle>

        <b-collapse id="navbar-toggle-collapse" is-nav>
            <!--            <b-navbar-nav class="ml-auto">-->
            <!--                <b-nav-item href="#">Link 1</b-nav-item>-->
            <!--                <b-nav-item href="#">Link 2</b-nav-item>-->
            <!--                <b-nav-item href="#" disabled>Disabled</b-nav-item>-->
            <!--            </b-navbar-nav>-->
        </b-collapse>
    </b-navbar>
    <b-container class="p-5 m-5" fluid>
        <b-row>
            <h1>Fridge Inventory</h1>
        </b-row>
        <!--        <b-row>-->
        <!--            <div v-if="!isEditing">-->
        <!--                <input type="text" v-model="todo">-->
        <!--                <input @click="storeTodo" type="submit" value="Add">-->
        <!--            </div>-->
        <!--            <div v-else>-->
        <!--                <input type="text" v-model="todo">-->
        <!--                <input @click="updateTodo" type="submit" value="Update">-->
        <!--            </div>-->
        <!--        </b-row>-->

        <b-row>
            <b-col cols="6" md="6" v-if="!isEditing">
                <!--                <input type="text" v-model="todo">-->
                <b-form-input placeholder="What is the item called?" v-model="todo"></b-form-input>
                <br>
                <b-form-textarea
                        id="textarea"
                        max-rows=""
                        placeholder="Describe the item going into the fridge inventory"
                        rows="3"
                        v-model="text"
                ></b-form-textarea>
                <br>
                <b-form-file
                        :state="Boolean(file1)"
                        drop-placeholder="Drop file here..."
                        placeholder="Choose a file or drop it here..."
                        v-model="file1"
                ></b-form-file>
                <div class="mt-3">Selected file: {{ file1 ? file1.name : '' }}</div>

                <!-- Plain mode -->
                <b-form-file class="mt-3" plain v-model="file2"></b-form-file>
                <div class="mt-3">Selected file: {{ file2 ? file2.name : '' }}</div>
                <input @click="storeTodo" class="btn btn-primary" type="submit" value="Add Item to the Fridge">
            </b-col>
            <b-col cols="6" md="6" v-else>
                <b-form-input placeholder="What is the item called?" v-model="todo"></b-form-input>
                <br>
                <b-form-textarea
                        id="textarea"
                        max-rows=""
                        placeholder="Describe the item going into the fridge inventory"
                        rows="3"
                        v-model="text"
                ></b-form-textarea>
                <br>
                <input @click="updateTodo" class="btn btn-info" type="submit" value="Update this fridge item">


            </b-col>
        </b-row>

        <br>
        <hr>
        <br>

        <!--        <b-row>-->
        <!--            <ol>-->
        <!--                <li v-for="(todo, index) in todos">-->
        <!--                    {{ todo }}-->
        <!--&lt;!&ndash;                    <button @click="editTodo(index, todo)">Edit</button>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <button @click="removeTodo(index)">Complete</button>&ndash;&gt;-->
        <!--                </li>-->
        <!--            </ol>-->
        <!--        </b-row>-->
        <!--        <b-row>-->
        <!--            <ol>-->
        <!--                <li v-for="(todo, index) in favs">-->
        <!--                    {{ todo }}-->
        <!--&lt;!&ndash;                    <button @click="editTodo(index, todo)">Edit</button>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <button @click="removeTodo(index)">Complete</button>&ndash;&gt;-->
        <!--                </li>-->
        <!--            </ol>-->
        <!--        </b-row>-->
        <!--        <b-row>-->
        <!--            <ol>-->
        <!--                <li v-for="(todo, index) in eats">-->
        <!--                    {{ todo }}-->
        <!--&lt;!&ndash;                    <button @click="editTodo(index, todo)">Edit</button>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <button @click="removeTodo(index)">Complete</button>&ndash;&gt;-->
        <!--                </li>-->
        <!--            </ol>-->
        <!--        </b-row>-->

        <b-row>
            <b-col cols="3" md="3">
                <h5>Items</h5>

                <ol>
                    <li v-for="(todo, index) in todos">
                        {{ todo }}
                        <!--                    <button @click="editTodo(index, todo)">Edit</button>-->
                        <!--                    <button @click="removeTodo(index)">Complete</button>-->
                    </li>
                </ol>
            </b-col>

            <b-col cols="3" md="3">
                <h5>Favorites</h5>

                <ol>
                    <li v-for="(todo, index) in favs">
                        {{ todo.favs }}
                        <!--                    <button @click="editTodo(index, todo)">Edit</button>-->
                        <!--                    <button @click="removeTodo(index)">Complete</button>-->
                    </li>
                </ol>
            </b-col>
            <b-col cols="3" md="3">
                <h5>Eaten</h5>

                <ol>
                    <li v-for="(todo, index) in eats">
                        {{ todo.eats }}
                        <!--                    <button @click="editTodo(index, todo)">Edit</button>-->
                        <!--                    <button @click="removeTodo(index)">Complete</button>-->
                    </li>
                </ol>
            </b-col>

            <b-col cols="3" md="3">
                <h5>Expiring</h5>
                <ol>
                    <li v-for="(todo, index) in exp">
                        {{ todo.exps }}
                        <!--                    <button @click="editTodo(index, todo)">Edit</button>-->
                        <!--                    <button @click="removeTodo(index)">Complete</button>-->
                    </li>
                </ol>
            </b-col>

        </b-row>
        <!--        <div>-->
        <!--            <b-table :items="todos" hover striped>-->

        <!--            </b-table>-->
        <!--        </div>-->

        <b-row>
            <b-col cols="3" md="3" v-for="(todo, index) in todos">
                <b-card
                        class="mb-2"
                        img-alt="Image"
                        img-src="css/bvb.png"
                        img-top
                        style="max-width: 20rem;"
                        tag="article"
                        title=""
                >
                    <h6>Item:</h6>
                    <b-card-text>
                        {{ todo }}
                        <div cols="3" md="3" v-for="(t, index) in foods">
                            {{t}}
                        </div>

                    </b-card-text>


                    <div class="mt-3">
                        <b-button-group>
                            <b-button @click="editTodo(index, todo)" variant="success">Edit</b-button>
                            <b-button @click="removeTodo(index, todo)" variant="info">Eat</b-button>
                            <b-button @click="favTodo(index, todo)" variant="warning">Buy</b-button>
                            <b-button @click="favTodo(index, todo)" variant="outline-primary">Exp.</b-button>
                        </b-button-group>
                    </div>
                    <!--                    <ol>-->

                    <!--                        <button @click="editTodo(index, todo)" class="btn btn-success">Edit</button>-->
                    <!--                        <button @click="removeTodo(index, todo)" class="btn btn-danger">Eat</button>-->
                    <!--                        <button @click="favoriteTodo(index, todo)" class="btn btn-">Buy</button>-->
                    <!--                        <button @click="favoriteTodo(index, todo)" class="btn btn-danger">Expiring</button>-->
                    <!--                    </ol>-->

                </b-card>


            </b-col>
        </b-row>
        </b-row>

        <!--        <div  v-for="(todo, index) in todos">-->
        <!--            <b-card-->
        <!--                    class="mb-2"-->
        <!--                    img-alt="Image"-->
        <!--                    img-src=""-->
        <!--                    img-top-->
        <!--                    style="max-width: 20rem;"-->
        <!--                    tag="article"-->
        <!--                    title="Card Title"-->
        <!--            >-->
        <!--                <b-card-text>-->
        <!--                    {{ todo }}-->
        <!--                </b-card-text>-->

        <!--                <ol>-->
        <!--                    {{ todo }}-->
        <!--                    <button @click="editTodo(index, todo)">Edit</button>-->
        <!--                    <button @click="removeTodo(index)">Delete</button>-->
        <!--                </ol>-->

        <!--            </b-card>-->
        <!--        </div>-->
<!--        <b-row>-->
<!--            <div v-if="!isEditing">-->
<!--                <input type="text" v-model="todo">-->
<!--                <input @click="storeTodo" type="submit" value="Add">-->
<!--            </div>-->
<!--            <div v-else>-->
<!--                <input type="text" v-model="todo">-->
<!--                <input @click="updateTodo" type="submit" value="Update">-->
<!--            </div>-->
<!--        </b-row>-->
    </b-container>

</div>


<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@2.x/dist/vue.js"></script>
<script src="//unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="//unpkg.com/bootstrap-vue@2.x/dist/bootstrap-vue-icons.min.js"></script>

<!-- Load the app -->
<script src="js/components/console.js"></script>
<script src="js/components/add-form.js"></script>
<script src="js/app.js"></script>

</body>
</html>
